<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'css_files/style.css' %}">

  <title>Document</title>
</head>

<body>
  <a href="https://elan.org.in/"><img src="{%static 'images/logo_white.png'%}" /></a>
  {%if uuid%}
  <form action="/logout">
    <input type="submit" value="Logout" class="text-white text-left ml-0 bg-[#a16b28] rounded p-2 mt-5 hover:cursor-pointer">
  </form>
  <div class='text-white text-3xl my-5'>{{name}}</div>


  <div id="qrcode" class="m-auto p-2 bg-white mb-5"></div>
  <div class='text-white text-2xl mb-5'>{{uuid}}</div>
  {%endif%}


  <script type="text/javascript">
    console.log("{{ uuid }}")
    new QRCode(document.getElementById("qrcode"), "{{ uuid }}");
  </script>
</body>

</html>