<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>
    <div class="login">
        <img src="./elan greenko date.png" />
        <h1>Register</h1>
        <form actions="#" methods="" post>
          <p>Enter OTP</p>
          <input type="text" name="user" placeholder="OTP" required/>
          
          <button type="submit">Submit</button>
          
          <a href="https://elan.org.in/"><button type="button">Home</button></a>
        </form>
      </div>
    
</body>
</html>